.login-box{
    background-color: white;
    width: 70%;
    height: 70%;
    margin: 7.5% auto;
}

.splash-image-container{
    overflow: hidden;
    height: 100%;
    text-align: center;
}

.large-image{
    width: 70%;
    height: 100%;
    display: inline-block;
    margin: 0 auto;
}