<div class="row">
    <div class="col-2">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">From</span>  
            </div>
        <input type="date" class="form-control" [ngModel]="fromDate" value="{{fromDate}}" (ngModelChange)="fromDate = $event; setAvailability()">
        </div>
        <!-- <input class="" type="date" -->
    </div>
    <div class="col-2">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">To</span>  
            </div>
            <input type="date" class="form-control" [ngModel]="toDate" value="{{toDate}}" (ngModelChange)="toDate = $event; setAvailability()">
        </div>
        <!-- <input class="" type="date" -->
    </div>
    <div class="col-2">
        <button class="btn btn-primary" (click)="showFromDate()">Update</button>
    </div>
    <div class="col-2">
        <button class="btn btn-primary" (click)="testAvailability()">Test Availability</button>
    </div>
</div>